.categoryBadge {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  margin: 0.25rem;
}

.categoryHumanities {
  background-color: #82c3c5;
  color: #000;
}

.categoryBusiness {
  background-color: #a9d4d6;
  color: #000;
}

.categoryStem {
  background-color: #065758;
  color: #fff;
}

.categoryLifeSciences {
  background-color: #e2f0ef;
  color: #000;
}

.categoryOthers {
  background-color: #f0f0f0;
  color: #000;
}

